@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

body {
  font-family: verdana;
  font-size: 14px;
  margin: 0 auto;
  background-color: #1A1A1A;
  color: #ffffff;
}

footer {
  background: #333333;
}

p {
  margin-top: 0;
}

article {
  width: 80%;
  background: #292929;
  margin: auto;
  padding: 10px 0 0 0;
}

/*-------------------------------------
-----------OVLADACI PRVKY--------------
-------------------------------------*/
.button {
  width: max-content;
  padding: 3px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}

.accept {
  border: solid 1px #C93737;
  background: #1A1A1A;
}

.accept:hover {
  background: #37c937;
  color: #1A1A1A;
  border: solid 1px #37c937;
}

.csfd {
  background-color: red;
  color: white;
}

.csfd:hover {
box-shadow: 0px 0px 5px 5px red, 0px 0px 5px 5px red;
}

.imdb {
  background-color: yellow;
  color: black;
}

.imdb:hover {
box-shadow: 0px 0px 5px 5px yellow, 0px 0px 5px 5px yellow;
}

.ap {
  background-color: #fc5342;
  color: white;
}


/*-------------------------------------
--------------MESSAGES-----------------
-------------------------------------*/
.message {
  position: absolute;
  width: 50%;
  left: 25%;
  z-index: 10;
}

.message p {
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
}

.warning {
  background: orange;
}

.info {
  background: rgb(40, 97, 221);
}

.error {
  background: rgb(255, 54, 18);
}

.message .fa-close {
  float: right;
}

/*-------------------------------------
--------------NAVIGACE-----------------
-------------------------------------*/

.menu-container {
  width: 95%;
  margin: 0 auto;
}

header {
  background: #333333;
  height: 69px;
}

header::after {
  content: '';
  clear: both;
  display: table;
}

.logo {
  position: relative;
  top: -18px;
  font-family: 'Caesar Dressing', cursive;
  font-size: 35px;
  float: left;
  margin: 30px 0 0 20px;
}

nav {
  position: relative;
  top: 25px;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 35px;

  position: relative;
}

nav a {
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px 25px;
}

nav a:hover {
  color: #C93737;
  background-color: #1A1A1A;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C93737;

  position: absolute;
  bottom: -25px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.menu-profile a:hover::before {
  width: 0%;
}

nav a:hover::before {
  width: 100%;
}

.menu-profile {
  grid-column: 2;
}

.menu-main {
  grid-column: 1;
}

.active::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C93737;

  position: absolute;
  bottom: -25px;
  width: 100%;
}

.sub-menu {
  display: grid;
  position: absolute;
  top: 44px;
  width: max-content;
  right: -25px;
  background: #333333;

  z-index: 20;

  clip-path: circle(0px at top);
  transition: clip-path ease-in-out 500ms;
}

.user-menu:hover > .sub-menu {
  clip-path: circle(250% at top);
}

.sub-menu li {
  margin: 0;
  padding: 15px 0;
  border-top: #1A1A1A 2px solid;
}

.sub-menu li:last-child {
  border-bottom: #1A1A1A 2px solid;
}

.sub-menu a {
  padding: 15px 25px;
}

.sub-menu li:hover {
  padding: 15px 0;
  background-color: #1A1A1A;
}

.sub-menu a:hover {
  padding: 15px 25px;
  background-color: #1A1A1A;
}



/*-------------------------------------
--------------SEKCE UVOD---------------
-------------------------------------*/

.index-section {
  border-top: solid 2px #D0D0D0;
  position: relative;
  padding: 15px 10px 0 10px;
  margin: 2em 0 0 ;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.today {
  justify-content: start;
}

.today .index-item {
  margin: 15px 15px 0 15px;
}

.index-section + .index-section {
  margin: 3em 0 0 ;
}

.index-section-title {
  position: absolute;
  top: -20px;
  left: 1rem;
  padding: 0 10px;
  background: #292929;
  font-size: 24px;
  font-weight: bold;
}

.index-item {
  height: 310px;
  width: 160px;
  margin: 15px 7px 0 7px;
  position: relative;
}

.index-item a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 15px;
  cursor: pointer;
}

.index-item a:hover, .index-item i{
  color: #C93737;
}

.index-item-star {
  position: absolute;
  top: 1px;
  right: 5px;
  z-index: 1;
  font-size: 32px;
}

.index-item-rating {
  position: absolute;
  width: 2em;
  font-size: 14px;
  top: 12px;
  left: 4px;
  text-align: center;
  font-weight: bold;
}

.index-item-image {
  width: 160px;
  height: 225px;
  position: absolute;
  transition: .2s;
  transition-delay: .03s;
}

.index-name {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-top: 0.6em;
  position: absolute;
  top: 235px;
}

.index-item-mask {
  position: absolute;
  width: 160px;
  height: 225px;
  top: 0px;
  left: 0px;
  display: none;
  opacity: 0;
  text-align: center;
  transition: all .2s;
  line-height: 200%;

  flex-direction: column;
  justify-content: space-between;
}

.index-item-image:hover ~ .index-item-mask, .index-item-mask:hover {
  display: flex;
}

.index-item-mask:hover {
  transform: scale(1.1);
  opacity: 1;
}

.index-item-mask-container:hover > .index-item-star {
  display: none;
}

.index-item-mask-container:hover .index-item-image {
  filter: grayscale(80%);
  opacity: 0.2;
  transform: scale(1.1);
}

.item-tools-bar {
  display: flex;
  justify-content: space-between;
  color: #C93737;
  font-size: 20px;
  flex-direction: row;
}

.hidden {
  display: none;
}

.reverse {
  flex-direction: row-reverse
}

/*-------------------------------------
---------------SEZNAM------------------
-------------------------------------*/
.search-section {
  width:100%;
  display: flex;
  flex-flow: row;
  justify-content: start;
  margin-bottom: 20px;
}

.pages-section {
  width:100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.search-section > * {
  margin: 5px 10px;
}

.list-section {
  justify-content: space-around;
}

.list-item {
  width: 32%;
  min-width: 400px;
  background: #333333;
  margin: 0 7px 15px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: start;  
}

.list-item strong {
  font-size: 18px;
  font-weight: bolder;
}

.list-item img {
  width: 160px;
  height: 225px;
}

.list-item-info {
  margin: 0 10px;
  width: 50%;
}

.list-item-info div {
  margin-top: 15px;
}

/*------------------------------------------------------------------------------------------------
-------------------------------------------SMALL SCREEN-------------------------------------------
------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px){

  article {
    width: 100%;
  }

  /*-------------------------------------
  --------------Navigace-----------------
  -------------------------------------*/
  nav {
    display: block;
    width: 171px;
    position: absolute;
    right: 10px;
    top: 69px;

    z-index: 20;

    clip-path: circle(0px at top);
    transition: clip-path ease-in-out 500ms;
  }

  .menu-main, .menu-profile {
    background: #1A1A1A;
    border-bottom: 1px solid #333333;
  }

  .nav-open {
    clip-path: circle(250% at top);
  }

  nav a {
    padding: 15px 10px;
  }

  nav a:hover {
    color: #C93737;
    padding: 15px 10px;
    background-color: #333333;
  }

  nav li {
    padding: 15px 0;
    display: block;
    margin: 0;
    border-bottom: 1px solid #333333;
  }

  .sub-menu li {
    border: 0px;
    border-bottom: #333333 2px solid;
  }

  nav li:hover {
    padding: 15px 0;
    background-color: #333333;
  }

  nav a:hover::before {
    width: 0%;
  }

  .active, .active li {
    color: #C93737;
  }

  .active::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #C93737;
  
    position: absolute;
    bottom: -25px;
    width: 0%;
  }

  .menu-toggle {
    position: absolute;
    right: 5px;
    top: 15px;
    width: 40px;
    height: 25px;
    padding: 20px 0 0 15px;
  }

  .sub-menu {
    clip-path: circle(250% at top);
    background: #1A1A1A;
    top: 50px;
  }

  ul.sub-menu {
    right: 0px;
  }

  .sub-menu li:hover, .sub-menu a:hover {
    background: #333333;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }

  .hamburger::before {
    transform: translateY(-6px);
  }

  .hamburger::after {
    transform: translateY(3px);
  }

  .open .hamburger {
    transform: rotate(45deg);
  }

  .open .hamburger::before {
    opacity: 0;
  }

  .open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }

  /*-------------------------------------
  --------------SEKCE UVOD---------------
  -------------------------------------*/

  .index-section {
    justify-content: space-evenly;
  }

  /*-------------------------------------
  -------------SEKCE SEZNAM--------------
  -------------------------------------*/
  .list-item {
    min-width: 375px;
  }

}

/*------------------------------------------------------------------------------------------------
-------------------------------------EXTRA SMALL SCREEN-------------------------------------------
------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 384px){
  /*-------------------------------------
  --------------SEKCE UVOD---------------
  -------------------------------------*/

  .index-item {
    border-bottom: solid 1px;
  }


  /*-------------------------------------
  -------------SEKCE SEZNAM--------------
  -------------------------------------*/
  .search-section {
    flex-flow: column;
  }

  .list-item {
    min-width: 100%;
    justify-content: center;
  }

}