@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

body {
  font-family: verdana;
  font-size: 14px;
  margin: 0 auto;
  background-color: #1A1A1A;
  color: #ffffff;
}
/*--------------------
        MESSAGES
--------------------*/
.message {
  position: absolute;
  width: 50%;
  left: 25%;
  z-index: 10;
}

.message p {
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
}

.warning {
  background: orange;
}

.info {
  background: rgb(40, 97, 221);
}

.error {
  background: rgb(255, 54, 18);
}

.message .fa-close {
  float: right;
}

/*--------------------
        NAVIGACE WIDE
--------------------*/

.menu-container {
  width: 95%;
  margin: 0 auto;
}

header {
  background: #333333;
  height: 69px;
}

header::after {
  content: '';
  clear: both;
  display: table;
}

.logo {
  position: relative;
  top: -18px;
  font-family: 'Caesar Dressing', cursive;
  font-size: 35px;
  float: left;
  padding: 10px 0 10px 20px;
}

nav {
  position: relative;
  top: 25px;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 35px;

  position: relative;
}

nav a {
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px 25px;
}

nav a:hover {
  color: #C93737;
  background-color: #1A1A1A;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C93737;

  position: absolute;
  bottom: -25px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.menu-profile a:hover::before {
  width: 0%;
}

nav a:hover::before {
  width: 100%;
}

.menu-profile {
  grid-column: 2;
}

.menu-main {
  grid-column: 1;
}

.active::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C93737;

  position: absolute;
  bottom: -25px;
  width: 100%;
}

.user-menu:hover > .sub-menu {
  clip-path: circle(250% at top);
}

.sub-menu {
  display: grid;
  position: absolute;
  top: 44px;
  width: max-content;
  right: -25px;

  clip-path: circle(0px at top);
  transition: clip-path ease-in-out 500ms;
}

.sub-menu li {
  margin: 0 25px 0 0;
  padding: 15px 0;
}

.sub-menu a {
  padding: 15px 25px;
}

.sub-menu li:hover {
  padding: 15px 0;
  background-color: #333333;
}

.sub-menu a:hover {
  padding: 15px 25px;
  background-color: #333333;
}

@media (max-width: 1200px){
  nav {
    display: block;
    width: max-content;
    position: absolute;
    right: 0px;
  }

  nav a {
    padding: 15px 10px;
  }

  nav a:hover {
    color: #C93737;
    padding: 15px 10px;
    background-color: #333333;
  }

  nav li {
    padding: 15px 10px;
    display: block;
  }

  nav li:hover {
    padding: 15px 10px;
    background-color: #333333;
  }

  nav a:hover::before {
    width: 0%;
  }

  .active::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #C93737;
  
    position: absolute;
    bottom: -25px;
    width: 0%;
  }
}



