<?php 
    class PasswordsHandler
    {
        private static $dbAdress = ''; // your db adress (localhost)
        private static $dbUsername = ''; // your user in this DB (username)
        private static $dbPassword = ''; // password for this DB (yourSuperStrongPassword)
        private static $dbName = ''; // name of your DB (dbName)

        private static $mailUsername = ''; // your username to login into smtp server
        private static $mailPassword = ''; // your password to login into smtp server
        // more settings to email sending in SendEmail.php

        public function getLogin($type){
            switch ($type){
                case 'mail':
                    $login = array('username' => self::$mailUsername, 'password' => self::$mailPassword);
                    return $login;
                    break;
                case 'db':
                    $login = array('dbAdress' => self::$dbAdress, 'dbUsername' => self::$dbUsername, 'dbPassword' => self::$dbPassword, 'dbName' => self::$dbName);
                    return $login;
                    break;
                default:
                    return null;
            }
        }
    }
?>